.mainCard {
  top: 10%;
  left: 30.5%;
  position: fixed;
  z-index: 1000;

  width: 564px;
  border-radius: 4px 4px 0 0;
  box-shadow: rgb(0 0 0 / 16%) 4px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;

  background-color: #fff;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.secondCard {
  top: 46.5%;
  left: 30.5%;
  position: fixed;
  z-index: 90;

  width: 564px;
  height: 370px;
  border-radius: 0 0 4px 4px;
  box-shadow: rgb(0 0 0 / 16%) 4px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  background-color: #fff;

  padding-left: 32px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 20px;

  overflow: auto;
}
