.navLink {
  margin-right: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #0e0f69;
}
.navLink:last-child {
  margin-right: 0;
}

.navLink:hover,
:focus {
  color: white;
}
